@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat-Medium.woff");
}

* {
    margin: 0;
    font-family: 'Montserrat', "Open Sans";
}

body {
    background: #a97396;
}

tr {
    display: block;
    float: left;
    width: 35%;
}

tr th:first-child {
    height: 50px;
    line-height: 50px;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
    width: 65%;
}

tr td:first-child {
    overflow: scroll;
    height: 50px;
}

th,
td {
    display: block;
    padding: 8px;
}

th {
    background-color: #d7a4c5;
}

table,
th,
td {
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
}

#loader {
    border: .2em solid transparent;
    border-left-color: skyblue;
    border-right-color: skyblue;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    animation: 1s loader linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.d_none {
    display: none;
}

table {
    border-collapse: collapse;
    margin: 12px auto;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    padding: 25px;
    border: 2px solid rgb(54, 52, 52);
    border-radius: 5px;
    min-height: 400px;
    display: flex;
    background: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    >div {
        align-self: center;
    }
    .input-field {
        padding: 5px;
        margin: 5px;
        color: grey;
        button {
            padding-top: 2px;
            background-color: rgb(15, 134, 170);
            &:hover {
                background-color: rgb(185, 185, 185);
            }
        }
    }
    #form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(24, 30, 34);
        margin: 5px;
        padding: 5px;
        input {
            margin: 15px 0;
            padding: 15px 10px;
            width: 100%;
            outline: none;
            border: 1px solid #bbb;
            border-radius: 20px;
            display: inline-block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -ms-transition: 0.2s ease all;
            -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
        }
        input[type="text"]:focus {
            border-color: cornflowerblue;
        }
        .btn-submit {
            padding: 15px 50px;
            width: 200px;
            margin: 0 auto;
            background: #1abc9c;
            border: none;
            color: white;
            cursor: pointer;
            display: inline-block;
            clear: right;
            -webkit-transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -ms-transition: 0.2s ease all;
            -o-transition: 0.2s ease all;
            transition: 0.2s ease all;
        }
        .btn-submit:hover {
            opacity: 0.8;
        }
        .btn-submit:active {
            opacity: 0.4;
        }
        div {
            padding-top: 2px;
        }
    }
}